@use "../../../public/styles/theme.scss" as *;

.clipPathLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f7f5f5;
  padding: 2vh 1.3vw;
  font-family: "NeueMontreal-Medium";
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  &__link,
  &__logo,
  &__menu {
    width: 25%;
    display: flex;
  }
  &__logo {
    font-size: 1.3vw;
  }

  &__link {
    justify-content: center;
  }

  &__menu {
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;
    &__icon {
      font-size: 1.7vw;
    }
  }
}

.content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5vw;
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5vw;

    &__empty {
      width: 100%;
    }

    &__img {
      width: 100%;
      clip-path: inset(0 0 0 0);
    }
  }
}
